<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-block">
        <h4>Login</h4>
        <form #f="ngForm" novalidate (ngSubmit)="login(f)">
          <div class="form-group">
            <label for="username">Email</label>
            <input id="username" type="text" required name="username" [ngModel]="user.username" #username="ngModel" class="form-control" placeholder="Email">
            <small [hidden]="username.valid" class="text-danger">
              Please enter a different username
            </small>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isSubmitted">Login</button>
          </div>
          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>